<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- title for page -->
        <title>Shenandoah</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
<!--         <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" /> -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />    
        <script src="js/jquery-2.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/custom.css" />
    </head>
    <body>
    <div class="content container">
        <div class="row">
        <!-- the about copy -->
            <h1 class="text-center">About</h1>
            <p>Shenandoah was founded in 1950 by a group of Washington and Lee University faculty members and undergraduates, Tom Wolfe among them. For a brief time it was primarily an undergraduate magazine, but under the leadership of student editor Tom Carter Shenandoah became a quarterly, publishing a cast of international writers including e e cummings, Dylan Thomas, W. H. Auden, James Merrill, Ezra Pound, William Faulkner and Flannery O' Connor. From the 60's to the 80's, Washington and Lee faculty member James Boatwright expanded the journal and published occasional theme issues, including a 35th anniversary anthology. In 1995, R. T. Smith was selected as the first full-time editor of the journal, which in 2002 began to appear triennially.  Since 2011 Shenandoah has been published semi-annually online with several features updated regularly. For the current issue and more information, please see <a href="shenandoahliterary.org">Shenandoah online</a>.</p>

            <p>This comprehensive index is a project by carried out by the Washington and Lee University Library. The index aims to collect and make searchable for the first time metadata of the Shenandoah journal. For more information about this project, contact Jeff Barry (barryj@wlu.edu, twitter:@jeffbarry), Associate Professor and Associate University Librarian, Washington and Lee University.</p>

            <p>The code used in this project, including the metadata used in the database, can be found at our <a href="https://github.com/wludh/shenandoah_index">github repository</a>.</p>
        </div>
    </div>
    </body>
</html>