<div id="subtitle">
    <!-- Subtitle and branding complete with branding-->
    <%= image_tag('cover.jpg')%>
    <div id="text">
        <a href="http://shenandoahliterary.org/">Shenandoah</a>: The Washington and Lee University Review<br> 
        <div id="dates">A comprehensive index: Vol. 1, no. 1 (spring 1950) - </div>
        <div id="issn">ISSN 0037-3683 (print)<br>
            ISSN 2332-8134 (online)
        </div>
        <div id="beta">Beta</div>
    </div>
    <div class="clear"></div>
</div>

<%= render 'layouts/search' %>

<!-- <div class="embed-div" id="search-div">
    <iframe name="search-frame" src="http://MData1.ad.wlu.edu/ShenandoahExplorerApp/Explore.aspx"></iframe>
    <script type="text/javascript">
        function resizeCB() {
            var p = $('iframe').parent();
            $('iframe').css('width', p.width()).css('height', p.height());
        }
        $(window).resize(resizeCB);
        resizeCB();
    </script>
</div> -->