
.footer {
    width: 100%;
    text-align: center;
    height: 80px;
}
body{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
}

#sticky-footer{
    position: fixed;
    bottom: 0;
    background-color: white;
}

.footer img {
    max-height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr{
    border: solid #e7e7e7;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
    margin: auto;
    max-width: 50%;
    text-align: center;
}



.footer-hr{
    border: solid #e7e7e7;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
    margin: auto;
    max-width: 50%;
    text-align: center;
}

.clear{
    clear:both;
}

.content{
    max-width: 66.5rem;
    padding-top: 99px;
}
h1{
    padding-bottom: 20px;
}

h2{
    padding-top: 20px;
}

/*#search-div{
    display:none;
}
*/
iframe{
    border-width: 0px;
}

.embed-div {
/*    top:215px; 
    right:70px; 
    bottom:90px; 
    left:70px; */
    position: absolute;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    line-height: 29px;

    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 63%;
}

.caption{
    padding-top: 10px;
}

.right-menu{
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    font-color: #5e5e5e;
}

p{
    margin: 0 0 20px;
}

ol{
    padding-left: 0px;
}

.row img{
    padding-bottom: 30px;
}

#sub-nav{
    margin-top: 50px;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 0px;
}


ul li{
    float:left;
    cursor: pointer;
    cursor:hand;
}

#browse-button, #search-button{
    padding-right:20px;
}

.center-outer{
    float: left;
    position: relative;
    left: 50%;
}

.center-inner{
    float: left;
    position: relative;
    left: -50%;
}

.visible{
    display:inline !important;
}

.hidden{
    display:none;
}

.hvr-grow {
/*https://github.com/IanLunn/Hover/blob/master/css/hover.css
*/  
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body{
    padding-top: 0px !important;
}

/*#SearchRadioButtonList{
    float: left;
}*/

@media (max-width: 780px){
    .row{
        margin-left: 25px;
        margin-right: 25px;
    }

    .row img {
        max-width: 85%;
        height:85%;
    }
}

@media(max-width: 730px){

    #issn{
        display: none !important;
    }
}

@media(max-width: 425px){
    #dates{
        display: none !important;
    }

    #subtitle img{
        display: none !important;
    }
    .embed-div{
        top: 182px;
    }
}

#dates{
    display:inline;
}
#subtitle{
    padding-top: 70px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 521px;
}

@media(max-width: 730px){

    #subtitle{
        padding-left: 20%;
        padding-right: 20%;
    }

}


#SearchRadioButtonList_0, #SearchRadioButtonList_1{
    margin-right: 4px;
}

#SearchRadioButtonList_1{
    margin-left: 4px;
}
/*
div.col-md-3 hr{
    display:none;
}*/
/*
#subtitle{
    font-size: 14px;
}*/

#subtitle img{
    float: left;
    max-width: 119px;
    max-height: 119px;
    margin-right: 14px;
}

.article{
    border-bottom: 1px solid #e7e7e7 !important;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
}

@media(min-width: 475px) and (max-width: 1150px) {
    div.col-md-3 > hr{
        visibility: hidden !important;
    }
}

#SearchPanel{
    margin-top: 18px !important;
}


@media(max-width: 990px) and (min-width: 690px){

    .col-md-9{
        margin-left: 35%;
    }

    .col-md-3{
        float: left;
    }

    #IssuePanel{
        padding-top: 1px;
    }
}

.col-md-9{
    width: 50%;
}

@media(max-width: 760px){
    .col-md-9{
        width: 100%;
    }

    .embed-div{
        height: 54%;
    }
}

@media(max-width: 500px){
    #sticky-footer{
        display: none;
    }
}