

<%= form_tag root_path, :method => "get", :issue_id => 'select_issue_form' do %>
  <p><%= select_tag 'issue_id', options_for_select(@issue_array, :issue_id), :prompt => 'Select Issue', :id => 'select_issue_form' %> </p>
  <%= submit_tag('Go') %>
 <% end %>
